/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 1rem;
  flex: 1;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0.5rem;
  }
}
